// ChartComponent.scss
@use 'variables' as *;
@use 'mixins' as *;


:root {
  --font-family: $font-family-primary;
  --second-family: $font-family-second;
  --third-family: $font-family-third;
}

.chart-container {
  width: 100%;
  max-width: 804px;
  margin: 0;
  margin-top: $spacing-medium;
}
